<!--<div class="jumbotron jumbotron-fluid">-->
<!--  <div class="container">-->
<!--    <h1 class="display-4">E-commerce Website</h1>-->
<!--    <p class="lead">Bui Tien Phat @ 2022</p>-->
<!--  </div>-->
<!--</div>-->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6> About</h6>
                <p class="text-justify">Để xây dựng Thương hiệu mạnh, một trong những định hướng quan trọng hàng đầu của
                    Shopbee là chiến lược phát triển nguồn nhân lực - mấu chốt của mọi sự thành công.

                    Shopbee có hơn 2.200 CB-CNV, trình độ chuyên môn giỏi, nhiệt tình, năng động, chuyên nghiệp. Lực lượng
                    quản lý WIBU có thâm niên công tác, giỏi nghiệp vụ nhiều kinh nghiệm, có khả năng quản lý tốt và
                    điều hành đơn vị hoạt động hiệu quả.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Hệ thống Shopbee</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/category/c-language/">81 Nguyễn Thái Sơn, P3, Gò Vấp</a></li>
                    <li><a href="http://scanfcode.com/category/front-end-development/">371 Nguyễn Kiệm, P3, Gò Vấp</a>
                    </li>
                    <li><a href="http://scanfcode.com/category/back-end-development/">31 Hai Bà Trưng, Q1</a></li>
                    <li><a href="http://scanfcode.com/category/java-programming-language/">24 Cách mạng Tháng Tám,
                        Q3</a></li>
                    <li><a href="http://scanfcode.com/category/android/">23 Khởi Nghĩa Nam Kì, Q3</a></li>
                    <li><a href="http://scanfcode.com/category/templates/">13 Nguyễn Văn Tăng, Q9</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">Facebook</a></li>
                    <li><a href="http://scanfcode.com/contact/">Instagram</a></li>
                    <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Zalo</a></li>
                    <li><a href="http://scanfcode.com/privacy-policy/">Twitter</a></li>
                    <li><a href="http://scanfcode.com/sitemap/">Youtube</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Scanfcode</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>